
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<div>
    <img src="~/smiley.gif" alt="Smiley face" height="42" width="47">
    <div>
        This is Arcadia test page.
    </div>
</div>
